@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
  background-image: linear-gradient(#9343d4, #441f62);
  color: #fff;
  height: 100vh;
  background-repeat: no-repeat;
}

/*Header*/

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px 0px 70px;
  width: 100vw;
  height: 15vh;
}

.nav-logo-container {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.logo {
  min-height: 110px;
  min-width: 110px;
  width: 100%;
  transform: scale(1.4);
  overflow: hidden;
}

.nav-bar {
  display: flex;
  list-style: none;
  position: relative;
  justify-content: space-between;
  min-width: 600px;
}

.nav-bar li {
  width: 80px;
  text-align: center;
  margin: auto 30px;
  cursor: pointer;
}

.contact-button {
  width: 195px;
  min-width: 130px;
  height: 42px;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 36px;
  text-align: center;
  background: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-button.nav {
  margin: auto 0px auto 30px;
}

/*main*/

main {
  height: 85vh;
  position: relative;
}

.main-container {
  display: flex;
  width: 90vw;
  height: 85vh;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  position: relative;
}

.main-separation {
  width: 15vw;
  max-width: 200px;
  height: 9px;
  background-color: #cea0f3;
  position: absolute;
  top: 30px;
  left: 20px;
}

.main-bar {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 100%;
  justify-content: center;
  padding-left: 70px;
  position: relative;
}

.main-title {
  width: 350px;
  height: 100px;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: -80px;
}

.main-text {
  position: relative;
  top: -60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 43px;
}

.main-image-container {
  width: 45vw;
  min-width: 500px;
  position: relative;
}

.main-image {
  width: 100%;
}

.fa-angle-down {
  position: absolute;
  top: 90%;
  cursor: pointer;
}

/*section*/

.section-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: #9343d4;
}

.section-separation {
  width: 195px;
  height: 9px;
  background-color: #cea0f3;
  position: absolute;
  left: 50%;
  top: 6%;
  transform: translate(-50%, -6%);
}

.section-title {
  width: 400px;
  height: 100px;
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -13%);
  text-align: center;
}

.card-container {
  width: 80vw;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -65%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  min-width: 350px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
  background: rgba(209, 165, 244, 0.25);
}

.card-icon {
  font-size: 100px;
  position: relative;
  top: -60px;
  align-self: center;
}

.card-title {
  font-size: 35px;
  font-weight: 700;
  position: relative;
  top: -50px;
}

.card-text {
  color: #6d06c0;
  font-size: 18px;
  font-weight: 400;
  line-height: 43px;
}

.contact-button.section {
  position: absolute;
  left: 50%;
  top: 105%;
  transform: translate(-50%);
  background-color: #9343d4;
  border: 2px solid #9343d4;
  text-transform: capitalize;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

/*Quiénes somos*/

.who-are-we-div {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  position: relative;
  color: #9343d4;
}

.who-are-we-container {
  width: 80vw;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.presentation-container {
  width: 100%;
  min-width: 550px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  box-shadow: -50px -30px rgba(209, 165, 244, 0.25);
  position: relative;
}

.who-are-we-image {
  scale: 1.3;
  transform: translateX(-30px) translateY(-25px);
  width: 100%;
  background-position: center;
  min-width: 600px;
  max-width: 800px;
}

.names-container {
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 2;
  height: 50px;
  bottom: 5%;
  align-items: center;
  justify-content: space-evenly;
}

.names {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 170px;
  height: 50px;
  color: #6d06c0;
  background-color: rgba(209, 165, 244, 0.25);
  font-size: 20px;
  font-weight: 800;
  border: 3px solid #9343d4;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.description-title {
  color: #9343d4;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}

.description-text {
  color: #6d06c0;
  font-size: 18px;
  line-height: 43px;
  margin: 0px 50px 0px 100px;
}

.contact-button.description {
  background-color: #9343d4;
  border: 2px solid #9343d4;
  text-transform: capitalize;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

/*Contact div*/

.contact-div {
  width: 100vw;
  height: 100vh;
  background-color: #9343d4;
  position: relative;
  display: flex;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  margin: auto;
  position: relative;
}

.description-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 50px;
}

.contact-title {
  font-size: 50px;
  font-weight: 800;
  position: relative;
  bottom: 50px;
}

.contact-text {
  font-size: 18px;
  line-height: 43px;
}

.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 30px;
  height: 80%;
  background-color: #fff;
  width: 80%;
  border-radius: 82px;
  box-shadow: 25px 25px rgba(244, 244, 244, 0.2);
  min-height: 530px;
}

.fi-rs-form {
  font-size: 100px;
  align-self: center;
  position: relative;
  top: -80px;
}

.form-title {
  color: #6d06c0;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  top: -55px;
  margin-left: 30px;
}

.label-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -20px;
  width: 95%;
  height: 200px;
  align-items: center;
}

.label {
  border-bottom: solid 1px #6d06c0;
  width: 100%;
  height: 25%;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.label-input {
  width: 100%;
  height: 100%;
  padding: 20px;
  border: none;
  font-family: "Manrope", sans-serif;
}

.label-message {
  border-bottom: solid 1px #6d06c0;
  width: 100%;
  height: 50%;
}

.message-textarea {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  font-family: "Manrope", sans-serif;
  padding: 20px;
  resize: none;
}

.form-button {
  background-color: #9343d4;
  border: 2px solid #9343d4;
  text-transform: capitalize;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  text-align: center;
  min-width: 195px;
  min-height: 42px;
  border-radius: 36px;
  font-size: 18px;
  align-self: center;
  color: #ffffff;
  position: relative;
  top: 30px;
  cursor: pointer;
}

/*Footer*/

.footer-container {
  height: 25vh;
  width: 100vw;
  background-color: #441f62;
  /* background-image: linear-gradient(#9343d4, #441f62);; */
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo-footer-container {
  display: flex;
  overflow: hidden;
  padding-left: 40px;
}

.logo.footer {
  width: 200px;
  height: 200px;
  transform: scale(1.3);
  overflow: hidden;
}

.index-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
}

.index-item {
  cursor: pointer;
  width: 100px;
  text-align: center;
  list-style: none;
  margin: 5px;
  padding: 5px;
}

.socials-container {
  display: flex;
  align-items: center;
  list-style: none;
  min-width: 200px;
  justify-content: space-evenly;
  margin-right: 40px;
}

/*MEDIA QUERIES*/

@media all and (max-width: 1280px) {
  /*Header*/
  .contact-button.nav {
    min-width: 120px;
  }

  /*Who are we media query*/

  .who-are-we-container {
    width: 90vw;
  }

  .description-text {
    margin: 0px 30px 0px 80px;
  }

  /*Contact div*/

  .contact-container {
    width: 90vw;
    height: 80vh;
  }

  .description-form {
    padding: 30px;
  }
}

@media all and (max-width: 1100px) {
  /*Header*/
  .nav-container {
    justify-content: space-around;
  }

  /*Main*/

  .main-title {
    top: -50px;
  }

  .main-text {
    top: -45px;
  }
}

@media all and (max-width: 900px) {
  /*Header*/

  .nav-container {
    padding: 0px 20px 0px 30px;
  }

  .nav-bar {
    min-width: 550px;
  }

  .nav-bar li {
    margin: auto 15px;
  }

  .contact-button.nav {
    margin: auto 0px auto 0px;
    min-width: 120px;
  }

  /*Main*/

  .main-container {
    width: 95vw;
    padding: 0px;
  }

  .main-separation {
    top: 20px;
  }

  .main-bar {
    width: 47.5vw;
    padding-left: 50px;
  }

  .main-title {
    width: 300px;
    font-size: 45px;
  }

  .main-text {
    top: -50px;
    font-size: 15px;
    line-height: 35px;
  }

  .main-image-container {
    width: 45.7vw;
    min-width: 400px;
  }
}

@media all and (max-width: 700px) {
  .nav-container {
    padding: 0px 10px 0px 20px;
    justify-content: space-between;
  }

  .nav-bar {
    min-width: 130px;
  }

  .nav-bar li {
    display: none;
  }

  /*HEADER*/
  /*qué hacemos con el header cuando mide menos de 700px?*/
}
